- content_for :page_title do
  = t('settings.preferences')

- content_for :heading_actions do
  = button_tag t('generic.save_changes'), class: 'button', form: 'edit_preferences'

= simple_form_for current_user, url: settings_preferences_privacy_path, html: { method: :put, id: 'edit_preferences' } do |f|
  = render 'shared/error_messages', object: current_user

  %h4= t 'preferences.privacy'

  .fields-group
    = f.input :setting_default_privacy, collection: Status.selectable_visibilities, wrapper: :with_label, include_blank: false, label_method: lambda { |visibility| safe_join([I18n.t("statuses.visibilities.#{visibility}"), I18n.t("statuses.visibilities.#{visibility}_long")], ' - ') }, required: false, hint: false

  .fields-group
    = f.input :setting_show_application, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_noindex, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_hide_network, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_rss_disabled, as: :boolean, wrapper: :with_label

  - unless Setting.hide_followers_count
    .fields-group
      = f.input :setting_hide_followers_count, as: :boolean, wrapper: :with_label

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
